<% @news_items.each do |news_item| %>
  <article>
    <%= image_tag(news_item.image.thumbnail.url, :class => "thumbnail inline") %>
    <h2><%= news_item.title %></h2>
    <h3><%= news_item.sub_header %></h3>
  </article>
<% end %>